{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
	<h1>{{titre}}</h1>
	<div>{{description}}</div>
	<div><i>{{date_publication}}</i></div>
{% endblock %}
